body {
    /*padding-top: 60px;*/
    /*padding-bottom: 40px;*/
}
.clearer{
    clear: both;
}
.zf-green {
    color: #68b604;
}

.btn-success {
    background-color: #57a900;
    background-image: -moz-linear-gradient(top, #70d900, #57a900);
    background-image: -ms-linear-gradient(top, #70d900, #57a900);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
    background-image: -webkit-linear-gradient(top, #70d900, #57a900);
    background-image: -o-linear-gradient(top, #70d900, #57a900);
    background-image: linear-gradient(top, #70d900, #57a900);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    background-color: #57a900;
}

div.container a.navbar-brand {
    color: #fff;
    font-size: 18px;
}
div.container a.navbar-brand > img {
    display: inline;
    margin-right: 4px;
    margin-top: -2px;
}



.general-info-wrapper{
    width: 60%;
    column-count: 2;
    margin-top: 20px;
}
.general-info-wrapper-3{
    column-count: 3;
    width: 100%;
    margin-bottom: 20px;
}
.general-info-attribute-block dt,
.left-attribute-block dt{
    float: left;
    margin-right: 10px;
}
.general-info-attribute-block
.left-attribute-block{
    text-align: left;
}
.left-attribute-block{
    margin-bottom: 5px;
}
.description-wrapper{
    margin-bottom: 30px;
}
.description-label{
    margin-bottom: 10px;
}
.description-text{
    padding-left: 10px;
}

.comments-title{
    margin-bottom: 10px;
}
.comment-block{
    border-top: 1px solid #eee;
    padding: 10px 0;
    position: relative;
    padding-left: 10px;
}
.comment-block:last-child{
    border-bottom: 1px solid #eee;
}

.comment-block .comment-header{
    margin-bottom: 5px;
}

.comment-block .comment-button{
    display: none;
    position: absolute;
    right: 0;
    top: 0;
}
.comment-block:hover .edit-button{
    display: block;
}
.comment-block:hover{
    background: #f9f9f9;
}

.add-comment-block{
    margin-top: 30px;
}
.add-comment-block .btn{
    float: right;
}
.comment-save-button{
    display: none;
    float: right;
}
.comment-textarea{
    display: none;
    width: 100%;
    margin-top: 10px;
    height: 80px;
}
.comment-text textarea{
    width: 100%;
    height: 135px;
}
